
.secretaria-container {
    text-align: center;
    margin-top: 20px;
  }
  .texto{
    text-indent: 40px;
    font-size: large;
    padding-left: 20px;
  }
  .texto1{
    text-indent: 40px;
    list-style-type: disc; /* Establece viñetas redondas */
  text-align: left; /* Alinea el texto a la izquierda */
  padding-left: 20px; /* Espaciado a la izquierda para que las viñetas no estén pegadas al borde */
  }

  /*HERNAN*/
  .secretaria-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .encargado-title {
    font-size: 20px;
    margin-top: 20px;
  }
  
  
  .hernan {
    width: 250px;
    height: 250px;
    border-radius: 8px 0 0;
    margin-top: 10px;
  }
  
  .name {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .descrip {
    font-size: 14px;
    margin-top: 5px;
  }
  
  /*Profes*/


.PROFES{
   background-color: gray;
    text-align: center;
    width: 100%;
    color:white;
}


  .profesor-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .profesor-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .profesor-img {
    width: 40%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  
  .profesor-details {
    padding: 10px;
  }
  
  .profesor-name {
    font-size: 16px;
    margin-top: 5px;
  }
  
  .profesor-description {
    font-size: 14px;
    margin-top: 5px;
  }
  